* {
    background-color: rgba(250, 164, 133, 0.89);
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.gallery_s1_title {
    padding: 10px;
    text-align: center;
    width: 50%;
    border-bottom: 5px solid black;
}

.image {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around; 
    margin-top: 20px;
}

.image-card {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    text-align: center; 
    height: auto;
}

.image-card img {
    width: 90%;
    height: 100%; 
    object-fit: cover;
    border: 3px solid black; 
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .image-card {
        width: calc(50% - 20px); 
    }
}

@media screen and (max-width: 576px) {
    .image-card {
        width: calc(50% - 20px); 
    }
}